@model analogCapstone.Models.GearGrouped
@{
    ViewData["Title"] = "AddUsersFirstNewGearSettings";
}

<h1>@Model.GearMake @Model.GearModel</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUsersFirstNewGearSettings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.GearSettings.Count; i++)
            {
            @*<input type="hidden" asp-for="@Model.GearSettings" />*@

            <div class="form-group">
                <label asp-for="@Model.GearSettings[i].ChannelToGear.KnobSetting" class="control-label">@Model.GearSettings[i].KnobLabel</label>
                <input asp-for="@Model.GearSettings[i].ChannelToGear.KnobSetting" class="form-control" />
                <span asp-validation-for="@Model.GearSettings[i].ChannelToGear.KnobSetting" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.GearSettings[i].ChannelToGear.ChannelId" class="form-control" />
            <input type="hidden" asp-for="@Model.GearSettings[i].ChannelToGear.GearId" class="form-control" />
            <input type="hidden" asp-for="@Model.GearSettings[i].ChannelToGear.KnobId" class="form-control" />

            }
            <input type="submit" value="Add Channel" class="btn btn-primary" />
        </form>
    </div>
</div>

<a asp-action="Details" asp-route-id="@Model.GearSettings[0].ChannelToGear.ChannelId">Back To Channel Overview</a>


