@model analogCapstone.Models.ViewModel.GearOnChannelIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <img class="rounded-circle" src="@Html.DisplayFor(modelItem => Model.ApplicationUser.producerImgUrl)" alt="Generic placeholder image" width="100" height="100">
</div>

<h1>@Model.Channel.ChannelName</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GearGroups[0].GearMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GearGroups[0].GearModel)
        </th>
        <th>
            Knob Settings
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GearGroups)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GearMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GearModel)
            </td>
            @foreach (var notherItem in item.GearSettings)
            {
                <td>
                    @Html.DisplayFor(modelItem => notherItem.KnobLabel): <br/> 
                    <a asp-action="GearOnChannelEditUserSettings" asp-route-id="@notherItem.ChannelToGear.ChannelToGearId">@Html.DisplayFor(modelItem => notherItem.Setting)</a>
                    
                </td>
            }
            <td></td>
        </tr>
    }
    </tbody>
</table>

<form asp-action="AddGearPieceToChannel" asp-route-id="@Model.Channel.ChannelId">
    @*<input type="hidden"  />*@
    <input type="submit" value="Add Gear To Channel" class="btn btn-primary" />
</form>
<br/>
<a asp-action="SongChannelsIndex" asp-route-id="@Model.Channel.SongId">To Song Channels</a>
