@model analogCapstone.Models.ViewModel.GearOnChannelIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <img class="rounded-circle" src="@Html.DisplayFor(modelItem => Model.ApplicationUser.producerImgUrl)" alt="Generic placeholder image" width="100" height="100">
</div>

<h1>@Model.Channel.ChannelName</h1>

<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Channel.ChannelToGears[0].Gear.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel.ChannelToGears[0].Gear.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel.ChannelToGears[0].Gear.Knobs)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Channel.ChannelToGears)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Knob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gear.Model)
            </td>
        </tr>
    }
    </tbody>
</table>
