@model analogCapstone.Models.ViewModel.AllKnobsEditViewModel

<h1>@Model.Gear.Make @Model.Gear.Model</h1>
<h4>Edit Knobs</h4>
<hr/>


<div class="row">
    <div class="col-md-4">
        <form asp-action="EditKnobNames">
            @foreach (var item in Model.Knobs)
            {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@item.KnobId" />
            <div class="form-group">
                <label asp-for="@item.KnobName" class="control-label">Knob: @item.Ordinal</label>
                <input asp-for="@item.KnobName" class="form-control" />
                <span asp-validation-for="@item.KnobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@item.GearId" class="form-control" />
                <span asp-validation-for="@item.GearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@item.Ordinal" class="form-control" />
                <span asp-validation-for="@item.Ordinal" class="text-danger"></span>
            </div>

            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>