@model IEnumerable<analogCapstone.Models.Gear>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdinalsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdinalsAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GearId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GearId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GearId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
