@model analogCapstone.Models.Song

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.SongTitle)</h1>
<p>By: @Html.DisplayFor(model => model.BandArtistName)</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Channels)
        </th>
        <th>
            Gear Pieces
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Channels)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelToGears.Count)
        </td>
    </tr>
}
    </tbody>
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.SongId">Edit</a> |
    <a asp-action="Index">To All Mixes</a>
</div>
