@model IEnumerable<analogCapstone.Models.Song>

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model)
{

    <div>
        <img class="rounded-circle" src="@Html.DisplayFor(modelItem => item.ApplicationUser.producerImgUrl)" alt="Generic placeholder image" width="140" height="140">
    </div>
}
<p></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SongId">@Html.DisplayFor(modelItem => item.SongTitle)</a>

                </td>
                <td>
                    <a asp-action="TrackDetails" asp-route-id="@item.SongId">@Html.DisplayFor(modelItem => item.BandArtistName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channels.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SongId">Delete would need to bechanged</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Create">
    @*<input type="hidden"  />*@
    <input type="submit" value="New Mix" class="btn btn-primary" />
</form>