@model analogCapstone.Models.ViewModel.SongIndexViewModel

@{
    ViewData["Title"] = "Index";
}


<div>
    <img class="rounded-circle" src="@Html.DisplayFor(modelItem => Model.ApplicationUser.producerImgUrl)" alt="Generic placeholder image" width="100" height="100">
</div>
<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Songs[0].SongTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs[0].BandArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs[0].Channels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Songs)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SongId">@Html.DisplayFor(modelItem => item.SongTitle)</a>

                </td>
                <td>
                    <a asp-action="TrackDetails" asp-route-id="@item.SongId">@Html.DisplayFor(modelItem => item.BandArtistName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channels.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Create">
    @*<input type="hidden"  />*@
    <input type="submit" value="New Mix" class="btn btn-primary" />
</form>